<% layout('./layout/BOILERPLATE') %>
  <div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
      <form action="/campgrounds/<%=campground._id %>?_method=PUT" method="POST" novalidate enctype="multipart/form-data" class="needs-validation">
        <div class="mb-3">
        <label class='form-label'for="title">Name: </label>
        <input class='form-control' type="text" name="campground[title]" id="title" value="<%=campground.title %>" required>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class='form-label' for="location">Location:</label>
        <input class='form-control' type="text" name="campground[location]" id="title" value="<%=campground.location %>" required>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="images">Add images:</label>
        <input type="file" class="form-control" id="images" name='image' multiple>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Campground Price:</label>
        <div class="input-group">
        <span class="input-group-text" id="price">$</span>
        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" value="<%=campground.price %>" required>
        <div class="valid-feedback">Looks good!</div>
      </div>
      </div>
      <div class="mb-3">
        <label class='form-label' for="description">Description:</label>
        <textarea class='form-control' type="text" name="campground[description]" id="title" required><%=campground.description %></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <% campground.image.forEach(function(img, i) { %>
          <img src="<%=img.thumbnail %>" alt="" class="img-thumbnail">
          <div class="form-check-inline">
            <input type="checkbox" id="image-<%= i%>" name="deleteImage[]" value="<%=img.filename %>">
          </div>
          <label for="image-<%= i%>">Delete?</label>
        <% }) %>
      </div>
      <div class="mb-3">
      <button class="btn-info btn">Update info</button>
    </div>
      </form>
      <a href="/campgrounds">Cancel</a>
    </div>
  </div>